{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="p-4 text-center container-sm d-flex flex-column">
    <p class="fs-2 font-monospace">Welcome to...</p>
    <div class="p-3 container d-flex flex-column">
        <img class="img-fluid img-thumbnail mx-auto shadow-sm border border-2 border-primary" src="{% static 'images/brainwaves.jpg' %}"/>
    </div>
    <p class= "fs-1">Wavelength</p>

    <!-- File Upload Form -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="file" name= "file">
        <br>
        <button type="submit" class="btn btn-primary">Upload File </button>
    </form>
</div>
{% endblock %}	