{% extends "base.html" %}


{% block content %}
<div class="container d-flex flex-column p-3">
<div class="container-lg ">
    <nav class= "nav nav-tabs nav-fill" role="tablist">
            <button class="nav-link active border border-danger" id="Graph-1" type="button" role="tab" aria-selected="true" aria-controls="Channels-Graph" data-bs-toggle="tab" data-bs-target="#">Graph 1</button>
          
            <button class="nav-link border border-danger" id="Graph-2" type="button" role="tab" aria-selected="false" aria-controls="Epoch-Graph" data-bs-toggle="tab" data-bs-target="#">Graph 2</button>
          </nav>
          <div class="tab-content border border-primary">
            <div id="Channels-Graph"  class="tab-pane fade show active" role="tabpanel" tabindex="0" aria-labelledby="Graph-1"></div>   
            <div id="Epoch-Graph" class="tab-pane fade" role="tabpanel" tabindex="0" aria-labelledby="Graph-2"></div>   
          </div>
  </div>

  <div class="d-flex flex-row">
  <div class="container-sm p-3">
    <nav class= "nav nav-tabs nav-fill" role="tablist">
       
            <button class="nav-link active border border-danger">Graph 1</button>
    
            <button class="nav-link border border-danger">Graph 2</button>

    </nav>
    <div class="border border-primary"></div>
  </div>

  <div class="container-sm p-3">
    <nav class= "nav nav-tabs nav-fill">
      
            <button class="nav-link active border border-danger">Graph 1</button>
          

            <button class="nav-link border border-danger">Graph 2</button>
    </nav>
          <div class="border border-primary"></div>  
  </div>
</div>
</div>
  
{% endblock %}	