{% extends "base.html" %}

{% block content %}
{% include 'navbar.html'%}

  <div class="d-flex justify-content-start text-center ms-5 p-4">
    <div class="border border-primary p-3" style="width: 200px">
      <h4>View Options</h4>
    </div>
  </div>

  <div class="d-flex justify-content-end border border-primary"></div>

<div id="MaxTabs" class="d-flex justify-content-start ms-5 p-4">
<p class="fs-5">Max Tabs</p>
    <div class="p-1 ms-3">
    <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="TabOptions" id="1" value="option1">
      <label class="form-check-label" for="1">1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TabOptions" id="2" value="option2">
      <label class="form-check-label" for="2">2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TabOptions" id="3" value="option3">
      <label class="form-check-label" for="3">3</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TabOptions" id="4" value="option4">
      <label class="form-check-label" for="4">4</label>
    </div>
  </div>
  </div>


{% comment %} Appears only if you want split view {% endcomment %}

<div class="d-flex justify-content-start ms-5 p-4">
  <p class="fs-5">Split Style</p>
   
    <div class="p-1 ms-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="SplitOptions" id="Vertical" value="option1">
        <label class="form-check-label" for="Vertical">Vertical</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="SplitOptions" id="Horizontal" value="option2">
        <label class="form-check-label" for="Horizontal">Horizontal</label>
      </div>
  </div>
</div>

  <div class="d-flex justify-content-start text-center ms-5 p-4">
    <div class="border border-primary p-3" style="width: 200px">
      <h4>Graph Options</h4>
    </div>
  </div>

  <div class="d-flex justify-content-start ms-5 p-4">
    <p class="fs-5">Graph type</p>

    <div class="ms-3">
      <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="channels" id="channels">
          <label class="form-check-label" for="channels">Channels</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="events" id="events">
          <label class="form-check-label" for="events">Events</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="histogram" id="histogram">
          <label class="form-check-label" for="histogram">Histogram</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="evoked" id="evoked">
          <label class="form-check-label" for="evoked">Evoked</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="time-frequency" id="time-frequency">
          <label class="form-check-label" for="time-frequency">Time-Frequency</label>
        </li>
      </ul>
    </div>
  </div>
  



{% comment %} This piece should be display as many times as the requested tabs. {% endcomment %}
  <div class="d-flex justify-content-start ms-5 p-4">
    <p class="fs-5">Channel Select</p>

      <div class="ms-3">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" id="select-all">
            <label class="form-check-label" for="select-all">Select All</label>
          </li>
          </ul>
      </div>

      <div class="ms-3">
        <ul class="list-group list-group-horizontal-sm">
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-0111">
            <label class="form-check-label" for="MEG-0111">MEG 0111</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-0121">
            <label class="form-check-label" for="MEG-0121">MEG 0121</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-0131">
            <label class="form-check-label" for="MEG-0131">MEG 0131</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-0211">
            <label class="form-check-label" for="MEG-0211">MEG 0211</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-0211">
            <label class="form-check-label" for="MEG-0211">MEG 0221</label>
          </li>
          </ul>
        <ul class="list-group list-group-horizontal-sm">
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-0231">
            <label class="form-check-label" for="MEG-0231">MEG 0231</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-0311">
            <label class="form-check-label" for="MEG-0311">MEG 0311</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-0321">
            <label class="form-check-label" for="MEG-0321">MEG 0321</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-0331">
            <label class="form-check-label" for="MEG-0331">MEG 0331</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-1511">
            <label class="form-check-label" for="MEG-1511">MEG 1511</label>
          </li>
          </ul>

        <ul class="list-group list-group-horizontal-sm">
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-1521">
            <label class="form-check-label" for="MEG-1521">MEG 1521</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="MEG-1531">
            <label class="form-check-label" for="MEG-1531">MEG 1531</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="EEG-001">
            <label class="form-check-label" for="EEG-001">EEG 001</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="EEG-002">
            <label class="form-check-label" for="EEG-002">EEG 002</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="EEG-003">
            <label class="form-check-label" for="EEG-003">EEG 003</label>
          </li>
          </ul>

        <ul class="list-group list-group-horizontal-sm">
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="EEG-004">
            <label class="form-check-label" for="EEG-004">EEG 004</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="EEG-005">
            <label class="form-check-label" for="EEG-005">EEG 005</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="EEG-006">
            <label class="form-check-label" for="EEG-006">EEG 006</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="EEG-007">
            <label class="form-check-label" for="EEG-007">EEG 007</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" id="EEG-008">
            <label class="form-check-label" for="EEG-008">EEG 008</label>
          </li>
          </ul>
      </div>
    </div>
          

  <div class="d-flex justify-content-end p-4">
    <a type="button" href="{% url 'settings-electrode-topography' %}" class="btn btn-success btn-lg d-flex justify-content-end">Next</a>
  </div>
{% endblock %}	