{% extends "base.html" %}

{% block content %}
{% include 'navbar.html'%}

<script language="javascript">
  console.log('Script, loaded.');
  // Load the state when the page is loaded
  document.addEventListener('DOMContentLoaded', loadState);

  // Save the state when a checkbox or radio is changed
  document.addEventListener('change', saveState);



  function preprocessingOptions(){
    console.log('Button clicked!');
    var button = document.querySelector('#next');
    var save = document.querySelector('#save');
    var regression = document.querySelector('#regression-graphs');
    var filtering = document.querySelector('#filtering-graphs');
    var channels = document.querySelector('#channels');
    var ica = document.querySelector('#ica-graphs');

    if(channels.checked){
      fetch('graphs/channels', {
      method: 'GET',
     })
      .then(response => response.text())
      .then(data => {
        console.log('Server response:', data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }

    if(ica.checked){
      fetch('graphs/ica', {
      method: 'GET',
     })
      .then(response => response.text())
      .then(data => {
        console.log('Server response:', data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
    
    if(regression.checked){
      fetch('graphs/regression', {
      method: 'GET',
     })
      .then(response => response.text())
      .then(data => {
        console.log('Server response:', data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
    
      if(filtering.checked){
        fetch('graphs/filtering', {
        method: 'GET',
      })
        .then(response => response.text())
        .then(data => {
          console.log('Server response:', data);
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
    button.disabled = false;
    save.disabled = true;
    
  }
  function saveState() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const radios = document.querySelectorAll('input[type="radio"]');
            
            checkboxes.forEach(checkbox => {
                localStorage.setItem(checkbox.id, checkbox.checked);
            });

            radios.forEach(radio => {
                localStorage.setItem(radio.id, radio.checked);
            });
        }

  function loadState() {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    const radios = document.querySelectorAll('input[type="radio"]');

    checkboxes.forEach(checkbox => {
      const value = localStorage.getItem(checkbox.id);
      if (value !== null) {
        checkbox.checked = value === 'true';
      }
    });

    radios.forEach(radio => {
      const value = localStorage.getItem(radio.id);
      if (value !== null) {
        radio.checked = value === 'true';
      }
    });
    console.log('State saved.');
  }

function selectAll(){
  var selectCheckbox = document.querySelector('#select-all');
  var channelsSelect = document.querySelectorAll('[name=channels]');
  if (selectCheckbox.checked){
    channelsSelect.forEach(function(cb) {
      cb.checked = true;
    });
  }
  else{
    channelsSelect.forEach(function(cb) {
      cb.checked = false;
    });
  }
}

function evokedChecker(){
  var singleRadio = document.querySelector('#Single');
  var combinedRadio = document.querySelector('#Combined');
  var checkboxes = document.querySelectorAll('[name=EventPicks]');
  
  checkboxes.forEach(function(checkbox) {
    checkbox.checked = false;
  });

  checkboxes.forEach(function(checkbox) {
    checkbox.disabled = false;
  });

  if (singleRadio.checked){
    singleEvoked(checkboxes);
  }
  else if(combinedRadio.checked){
    combinedEvoked(checkboxes);
}
}

function combinedEvoked(checkboxes){
  var maxEvokedOptions = 2;

  checkboxes.forEach(function (checkbox) {
  checkbox.addEventListener('change', function () {
    var selectedCheckboxes = document.querySelectorAll('[name=EventPicks]:checked').length;

    if (selectedCheckboxes >= maxEvokedOptions){
      checkboxes.forEach(function (cb) {
        if(!cb.checked){
          cb.disabled = true;
        }
      });
    } else {
      checkboxes.forEach(function (cb) {
        cb.disabled = false;
      });
    }
  });
});
  }

  function singleEvoked(checkboxes){
    var maxEvokedOptions = 1;

    checkboxes.forEach(function (checkbox) {
    checkbox.addEventListener('change', function () {
    var selectedCheckboxes = document.querySelectorAll('[name=EventPicks]:checked').length;

    if (selectedCheckboxes >= maxEvokedOptions){
      checkboxes.forEach(function (cb) {
        if(!cb.checked){
          cb.disabled = true;
        }
      });
    } else {
      checkboxes.forEach(function (cb) {
        cb.disabled = false;
      });
    }
  });
});
  }
  function nextPage(){
    url = '{% url "settings-electrode-topography" %}';
    window.location.href = url;
  }

// Load the state when the page is loaded
document.addEventListener('DOMContentLoaded', loadState);

// Save the state when a checkbox or radio is changed
document.addEventListener('change', saveState);
</script>

  <div class="d-flex justify-content-start text-center ms-5 p-4">
    <div class="border border-primary p-3" style="width: 200px">
      <h4>View Options</h4>
    </div>
  </div>

<div id="MaxTabs" class="d-flex justify-content-start ms-5 p-4">
<p class="fs-5">Max Tabs</p>
    <div class="p-1 ms-3">
    <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="TabOptions" id="1-graphs" value="option1">
      <label class="form-check-label" for="1">1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TabOptions" id="2-graphs" value="option2">
      <label class="form-check-label" for="2">2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TabOptions" id="3-graphs" value="option3">
      <label class="form-check-label" for="3">3</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TabOptions" id="4-graphs" value="option4">
      <label class="form-check-label" for="4">4</label>
    </div>
  </div>
  </div>


<div class="d-flex justify-content-start ms-5 p-4">
  <p class="fs-5">Split Style</p>
   
    <div class="p-1 ms-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="SplitOptions" id="Vertical-graphs">
        <label class="form-check-label" for="Vertical">Vertical</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="SplitOptions" id="Horizontal-graphs">
        <label class="form-check-label" for="Horizontal">Horizontal</label>
      </div>
  </div>
</div>

<div class="d-flex justify-content-start text-center ms-5 p-4">
  <div class="border border-primary p-3" style="width: 275px">
    <h4>Preprocessing Options</h4>
  </div>
</div>

<div class="d-flex justify-content-start ms-5 p-4">
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="preprocessing" id="regression-graphs">
      <label class="form-check-label" for="regression">Regression</label>
  </div>
  <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="preprocessing" id="filtering-graphs">
        <label class="form-check-label" for="filtering">Filtering</label>
  </div>
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio"name="preprocessing" id="ica-graphs">
      <label class="form-check-label" for="ica">ICA</label>
  </div>
</div>

  <div class="d-flex justify-content-start text-center ms-5 p-4">
    <div class="border border-primary p-3" style="width: 200px">
      <h4>Graph Options</h4>
    </div>
  </div>

  <div class="d-flex justify-content-start ms-5 p-4">
      <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="graph-options" id="channels">
          <label class="form-check-label" for="channels">Channels</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" name="graph-options" id="events-graphs">
          <label class="form-check-label" for="events">Events</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" id="evoked-graphs" name="graph-options">
          <label class="form-check-label" for="evoked">Evoked</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" id="time-frequency-graphs" name="graph-options">
          <label class="form-check-label" for="time-frequency">Time-Frequency</label>
        </li>
      </ul>
    </div>
  
          
    <div class="d-flex justify-content-start text-center ms-5 p-4">
      <div class="border border-primary p-3" style="width: 200px">
        <h4>Event Options</h4>
      </div>
    </div>
   
    <div class="d-flex justify-content-start ms-5 p-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="EventOptions" id="generate-events">
          <label class="form-check-label" for="generate-events">Generate Events</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="EventOptions" id="events-only">
          <label class="form-check-label" for="events-only">Events Only</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="EventOptions" id="events-raw">
          <label class="form-check-label" for="events-raw">Events/Raw Data</label>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-start text-center ms-5 p-4">
      <div class="border border-primary p-3" style="width: 220px">
        <h4>Evoked Options</h4>
      </div>
    </div>

    <div class="d-flex justify-content-start ms-5 p-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="EvokedOptions" id="Single" onchange="evokedChecker()">
        <label class="form-check-label" for="Single">Single Evoked</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="EvokedOptions" id="Combined" onchange="evokedChecker()">
        <label class="form-check-label" for="Combined">Combined Evoked</label>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-start ms-5 p-4">
    <ul class="list-group">
      <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" name="EventPicks" id="aud-left">
      <label class="form-check-label" for="aud-left">auditory/left</label>
      </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" name="EventPicks" id="aud-right">
      <label class="form-check-label" for="aud-right">auditory/right</label>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" name="EventPicks" id="vis-left">
      <label class="form-check-label" for="vis-left">visual/left</label>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" name="EventPicks" id="vis-right">
      <label class="form-check-label" for="vis-right">visual/right</label>
    </li>
</ul>
</div>

<div class="d-flex justify-content-start text-center ms-5 p-4">
  <div class="border border-primary p-3" style="width: 300px">
    <h4>Time-Frequency Options</h4>
  </div>
</div>

<div class="d-flex justify-content-start ms-5 p-4">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name="TFOptions" id="Spectrum-graphs">
    <label class="form-check-label" for="Spectrum">Spectrum</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name="TFOptions" id="Epoch-Spectrum">
    <label class="form-check-label" for="Epoch-Spectrum">Epochs Spectrum</label>
  </div>
</div>
</div>

  <div class="d-flex justify-content-end p-4">
    <button type="button" id="save" class="btn btn-warning btn-lg d-flex justify-content-end m-2" onclick="preprocessingOptions()">Save</button>
    <button disabled type="button" id="next" class="btn btn-success btn-lg d-flex justify-content-end m-2" onclick="nextPage()">Next</a>
  </div>
{% endblock %}	